openapi: 3.0.1
info:
  title: Deferred deep linking API
  version: "1.0"
servers:
- url: https://dls2s.appsflyer.com/v1.0
paths:
  /ios/{app_id}:
    post:
      tags:
      - iOS Deeplink request
      summary: Deferred deep link for IOS
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: "This is the App ID of the app for which you are passing data"
        example: id123456789
      - name: af_sig
        in: query
        required: true
        schema:
          type: string
        description: |
          Create an HMAC signature by concatenating the values of the following fields:

          `timestamp` + `ip`

          The HMAC is generated using SHA256 and uses the DevKey as the signature’s secret key. 
          The account DevKey is taken from the App Settings page in the AppsFlyer dashboard.
          
          For example, the concatenation of the Timestamp and IP are: 
          > `2015-01-22T08:45:33.412127.0.0.1`

          The DevKey is `w8sZzy8EaPaxFKfaoTqUi6` 
          
          *Please notice to place the timestamp first and then the IP*
        example: "ce2d1e6b4619b9e19bc6be116183b92e43aa01e182b15012a7215bdd879ec327"

      requestBody:
        content:
          application/json:
            schema:
              title: ios_request
              required:
              - is_first
              - lang
              - os
              - timestamp
              - type
              - ip
              type: object
              properties:
                idfv:
                  title: idfv
                  $ref: '#/components/schemas/CommonIdObject'
                lang:
                  type: string
                  description: "Device Locale Used for Authentication & Probabilistic Modeling"
                  example: "en-US"
                att_status:
                  type: integer
                  format: int32
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4 
                  description: |
                    App Tracking Transparency - Use this flag to indicate if user opted out the use of idfa (relevant for iOS 14 and above)
                    - 1 = authorized,
                    - 2 = denied,
                    - 3 = notDetermined, 
                    - 4 = restricted
                  example: 1
                is_first:
                  type: boolean
                  description: "Is first app launch"
                  example: true
                open_referrer:
                  type: string
                  description: "From which app the current app was opened"
                  example: "com.BhartiMobile.myairtel"
                ip:
                  type: string
                  description: "The Device’s IP Address - IPv4"
                  example: "123.3.12.255"
                os:
                  type: string
                  description: "Device OS Version Used for Authentication & Probabilistic Modeling"
                  example: "10.3.3"
                timestamp:
                  type: string
                  description: ISO 8601 UTC format
                  example: "2015-01-22T08:45:33.412"
                type:
                  type: string
                  description: "Device Type/Model Used for Authentication & Probabilistic Modeling"
                  example: "iPhone"
                idfa:
                  title: idfa
                  $ref: '#/components/schemas/CommonIdObject'
                sharing_filter:
                  type: string
                  x-anyOf:
                  - type: string
                  - x-allOf:
                    - {}
                    - type: array
                  example: ["googleadwords_int", "adcolony_int"]

            
        required: false
        
      responses:
        200:
          description: Response for iOS Deeplink request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLResponse'
              examples:
                Click_not_found:
                  value:
                    found: false
                    click_event: {}
                Click_found:
                  value:
                    found: true
                    click_event: {
                      timestamp: "2020-04-22T08:45:33.412",
                      is_first: true,
                      open_referrer: "null",
                      ip: "216.58.212.142",
                      lang: "en-US",
                      os: "7.1.2",
                      type: "iPhone",
                      idfa: {"value":"F55AF6436CDFAC250CBEAF3BFFCD713E3F4D1BDF", "type":"sha1"},
                      idfv: {"value":"AC9FB4FB-AAAA-BBBB-88E6-2840D9BB17F4", "type":"unhashed"},
                      sharing_filter: ["googleadwords_int", "adcolony_int"],
                      att_status: "3"
                    }
        400:
          $ref: '#/components/responses/BadRequest'
        503:
          $ref: '#/components/responses/GatewayTimeout'
        504:
          $ref: '#/components/responses/ServiceUnavailable'
      x-codegen-request-body-name: ios_request
  
  /android/{app_id}:
    post:
      tags:
      - Android Deeplink request
      summary: Deferred deep link for Android
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
        description: "This is the App ID of the app for which you are passing data"
        example: com.example.myapp
      - name: af_sig
        in: query
        required: true
        schema:
          type: string
        description: |
          Create an HMAC signature by concatenating the values of the following fields:

          `timestamp` + `ip`

          The HMAC is generated using SHA256 and uses the DevKey as the signature’s secret key. 
          The account DevKey is taken from the App Settings page in the AppsFlyer dashboard.
          
          For example, the concatenation of the Timestamp and IP are: 
          > `2015-01-22T08:45:33.412127.0.0.1`

          The DevKey is `w8sZzy8EaPaxFKfaoTqUi6` 
          
          *Please notice to place the timestamp first and then the IP*
        example: "ce2d1e6b4619b9e19bc6be116183b92e43aa01e182b15012a7215bdd879ec327"

      requestBody:
        content:
          application/json:
            schema:
              title: android_request
              required:
              - is_first
              - lang
              - os
              - timestamp
              - type
              - ip
              type: object
              properties:
                referrers:
                  type: array
                  items:
                    title: referrer
                    required:
                    - source
                    - value
                    type: object
                    properties:
                      source:
                        type: string
                      value:
                        type: string
                  description: |
                    The list referrer strings from app stores such as Google Play or Huawei App Gallery.

                    The field structure is a vector of **source** and **value** parameters per store.

                    The current supported stores are **google** and **huawei**.
                    
                    > Note: **google** and **huawei** are predefined values. The service ignores non-valid store names.
                  example: 
                    [ 
                      { "source": "google",         
                        "value": "tran_id= 44577766555&pid=adcolony_int"
                      },
                      {
                        "source": "huawei",
                        "value": null,
                      }       
                    ]
                lang:
                  type: string
                  description: "Device Locale Used for Authentication & Probabilistic Modeling"
                  example: "en-US"
                is_first:
                  type: boolean
                  description: "Is first app launch"
                  example: true
                ip:
                  type: string
                  description: "The Device’s IP Address - IPv4"
                  example: "123.3.12.255"
                os:
                  type: string
                  description: "Device OS Version Used for Authentication & Probabilistic Modeling"
                  example: "10.3.3"
                timestamp:
                  type: string
                  description: ISO 8601 UTC format
                  example: "2015-01-22T08:45:33.412"
                oaid:
                  title: request-spec/oaid
                  $ref: '#/components/schemas/CommonIdObject'
                type:
                  type: string
                  description: "Device Type/Model Used for Authentication & Probabilistic Modeling"
                  example: "iPhone"
                gaid:
                  title: request-spec/gaid
                  $ref: '#/components/schemas/CommonIdObject'
                sharing_filter:
                  type: string
                  x-anyOf:
                  - type: string
                  - x-allOf:
                    - {}
                    - type: array
                  description: |
                    The value options are the following:
                    - `all` - Don’t send the event to any partner
                    - [`"a"`,`"b"`,`"c"`] - Don’t send the event to this list of partners (by partner IDs)
                    *Notes: The partner ids must be taken from predefined*
                  example: ["googleadwords_int", "adcolony_int"]

        required: true
      responses:
        200:
          description: Response for Android Deeplink request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLResponse'
              examples:
                Click_not_found:
                  value:
                    found: false
                    click_event: {}
                Click_found:
                  value:
                    found: true
                    click_event: {
                      timestamp: "2020-04-22T08:45:33.412",
                      is_first: true,
                      ip: "216.58.212.142",
                      lang: "en-US",
                      os: "6.0",
                      type: "SM-G955A",
                      gaid: {"value":"F55AF6436CDFAC250CBEAF3BFFCD713E3F4D1BDF", "type":"sha1"},
                      oaid: {"value":"AC9FB4FB-AAAA-BBBB-88E6-2840D9BB17F4", "type":"unhashed"},
                      referrers: [
                        {
                          source: "google",         
                          value: "tran_id=44577766555&pid=adcolony_int"
                        }       
                      ],
                      sharing_filter: ["googleadwords_int", "adcolony_int"]
                    }
        400:
          $ref: '#/components/responses/BadRequest'
        503:
          $ref: '#/components/responses/GatewayTimeout'
        504:
          $ref: '#/components/responses/ServiceUnavailable'
      x-codegen-request-body-name: android_request

components:
  responses:
    BadRequest:
      description: Bad Request. The request message is not valid.
      content:
        application/json:
            schema:
              $ref: '#/components/schemas/Error' 
            example: {
              message: "Bad Request"
            }
    GatewayTimeout:
      description: Gateway Timeout. ELB (Amazon Load-balancer) service unavailable.
      content: {}
    ServiceUnavailable:
      description: Service Unavailable. ELB (Amazon Load-balancer) service unavailable.
      content: {}

  schemas:
    CommonIdObject:
      required:
        - type
        - value
      properties:
        type:
          type: string
          enum:
          - unhashed
          - sha1
          - md5
          example: sha1
        value:
          type: string
          example: "F55AF6436CDFAC250CBEAF3BFFCD713E3F4D1BDF"

    DLResponse:
      title: shared response
      required:
      - click_event
      - found
      type: object
      properties:
        found:
          type: boolean
        click_event:
          title: click_event
          required:
          - af_sub1
          - af_sub2
          - af_sub3
          - af_sub4
          - af_sub5
          - campaign
          - campaign_id
          - campaign_type
          - click_http_referrer
          - custom_params
          - match_type
          - media_source
          - timestamp
          type: object
          properties:
            campaign_id:
              type: string
              nullable: true
            custom_params:
              title: custom_params
              type: object
              properties: {}
            campaign_type:
              type: string
              enum:
              - retargeting
              - user_acquisition
            timestamp:
              type: string
              nullable: true
            match_type:
              type: string
              enum:
              - referrer
              - id_matching
              - srn
              - fingerprinting
            media_source:
              type: string
              nullable: true
            campaign:
              type: string
              nullable: true
            click_http_referrer:
              type: string
              nullable: true
            af_sub1:
              type: string
              nullable: true
            af_sub2:
              type: string
              nullable: true
            af_sub3:
              type: string
              nullable: true
            af_sub4:
              type: string
              nullable: true
            af_sub5:
              type: string
              nullable: true
      
    # Schema for error response body
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
  