swagger: '2.0'
x-id:
  - reitit.swagger/default
info:
  title: Deferred deep linking API
  version: '1.0'
host: "myserver.appsflyre.com"
basePath: '/v1.0'
paths:
  '/ios/{app_id}':
    post:
      responses:
        '200':
          schema:
            $ref: '#/definitions/DLResponse'
          description: 'Response for Android Deeplink request'     
        '400':
          $ref: '#/responses/BadRequest'
        '503':
          $ref: '#/responses/ServiceUnavailable' 
        '504':
          $ref: '#/responses/GatewayTimeout' 
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: app_id
          description: ''
          type: string
          required: true
        - in: query
          name: af_sig
          description: ''
          type: string
          required: true
        - in: query
          name: sdk_version
          description: ''
          type: string
          required: true
        - in: body
          name: sdk_ios_request
          description: ''
          schema:
            type: object
            properties:
              idfv:
                type: object
                properties:
                  type:
                    enum:
                      - unhashed
                      - sha1
                      - md5
                    type: string
                  value:
                    type: string
                required:
                  - type
                  - value
                title: idfv
              lang:
                type: string
              att_status:
                type: integer
                format: int64
              is_first:
                type: boolean
              os:
                type: string
              timestamp:
                type: string
                description: 'ISO 8601 UTC format'
              type:
                type: string
              idfa:
                type: object
                properties:
                  type:
                    enum:
                      - unhashed
                      - sha1
                      - md5
                    type: string
                  value:
                    type: string
                required:
                  - type
                  - value
                title: idfa
              sharing_filter:
                type: string
                x-anyOf:
                  - type: string
                  - x-allOf:
                      - {}
                      - type: array
            required:
              - is_first
              - lang
              - os
              - timestamp
              - type
            title: sdk_ios_request
      tags:
        - 'iOS Deeplink request'
      summary: Deferred deep link for IOS
  '/android/{app_id}':
    post:
      responses:
        '200':
          schema:
            $ref: '#/definitions/DLResponse'
          description: 'Response for Android Deeplink request'     
        '400':
          $ref: '#/responses/BadRequest'
        '503':
          $ref: '#/responses/ServiceUnavailable' 
        '504':
          $ref: '#/responses/GatewayTimeout'
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: app_id
          description: ''
          type: string
          required: true
        - in: query
          name: af_sig
          description: ''
          type: string
          required: true
        - in: query
          name: sdk_version
          description: ''
          type: string
          required: true
        - in: body
          name: sdk_android_request
          description: ''
          required: true
          schema:
            type: object
            properties:
              referrers:
                type: array
                items:
                  type: object
                  properties:
                    source:
                      type: string
                    value:
                      type: string
                  required:
                    - source
                    - value
                  title: referrer
              lang:
                type: string
              is_first:
                type: boolean
              os:
                type: string
              timestamp:
                type: string
                description: 'ISO 8601 UTC format'
              oaid:
                type: object
                properties:
                  type:
                    enum:
                      - unhashed
                      - sha1
                      - md5
                    type: string
                  value:
                    type: string
                required:
                  - type
                  - value
                title: request-spec/oaid
              type:
                type: string
              gaid:
                type: object
                properties:
                  type:
                    enum:
                      - unhashed
                      - sha1
                      - md5
                    type: string
                  value:
                    type: string
                required:
                  - type
                  - value
                title: request-spec/gaid
              sharing_filter:
                type: string
                x-anyOf:
                  - type: string
                  - x-allOf:
                      - {}
                      - type: array
            required:
              - is_first
              - lang
              - os
              - timestamp
              - type
            title: sdk_android_request
      tags:
        - 'Android Deeplink request'
      summary: Deferred deep link for Android
responses:
  'BadRequest':
    description: 'Bad Request. The request message is not valid.'
  'ServiceUnavailable':
    description: 'Service Unavailable. ELB (Amazon Load-balancer) service unavailable.'
  'GatewayTimeout':
    description: 'Gateway Timeout. ELB (Amazon Load-balancer) service unavailable.' 

definitions:
  DLResponse:
    type: object
    properties:
      found:
        type: boolean
      click_event:
        type: object
        properties:
          af_sub1:
            type: string
            x-nullable: true
          campaign_id:
            type: string
            x-nullable: true
          custom_params:
            type: object
            properties: {}
            title: custom_params
          campaign_type:
            enum:
              - retargeting
              - user_acquisition
            type: string
          timestamp:
            type: string
            x-nullable: true
          match_type:
            enum:
              - referrer
              - id_matching
              - srn
              - fingerprinting
            type: string
          af_sub5:
            type: string
            x-nullable: true
          media_source:
            type: string
            x-nullable: true
          campaign:
            type: string
            x-nullable: true
          af_sub4:
            type: string
            x-nullable: true
          click_http_referrer:
            type: string
            x-nullable: true
          af_sub2:
            type: string
            x-nullable: true
          af_sub3:
            type: string
            x-nullable: true
        required:
          - timestamp
          - match_type
          - click_http_referrer
          - media_source
          - campaign
          - campaign_id
          - campaign_type
          - af_sub1
          - af_sub2
          - af_sub3
          - af_sub4
          - af_sub5
          - custom_params
        title: click_event
    required:
      - found
      - click_event
    title: shared response